<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>짝</title>
</head>
<body>
    <h1>궁합을 봐 드립니다.</h1>
    <form action ="/result">
        <label>당신의 이름</label>
        <input type="text" name="name1"/><br>
        <label>그분의 이름</label>
        <input type="text" name="name2"/><br>
        <input type="submit"/>
    </form>
</body>
</html>